@import "tailwindcss";

@theme {
  --color-primary: #cd0000;
  --color-secondary: #1a1a1a;
  --color-dark: #0a0a0a;
  --color-dark-lighter: #2a2a2a;
  
  --font-sans: Inter, system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));