
---
---

<section class="bg-[#111] py-8 border-y border-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-wrap justify-center items-center gap-8 md:gap-16 opacity-70 grayscale hover:grayscale-0 transition-all duration-500">
            <img src="/assets/img/audi.png" alt="Audi" class="h-12 md:h-16 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/bmw.png" alt="BMW" class="h-12 md:h-16 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/mercedes.png" alt="Mercedes" class="h-12 md:h-16 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/porshe.png" alt="Porsche" class="h-12 md:h-16 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/ferrari.png" alt="Ferrari" class="h-10 md:h-14 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/lambo.png" alt="Lamborghini" class="h-12 md:h-16 object-contain hover:scale-110 transition-transform duration-300" />
            <img src="/assets/img/tesla.png" alt="Tesla" class="h-10 md:h-14 object-contain hover:scale-110 transition-transform duration-300" />
        </div>
    </div>
</section>
