---
import { Facebook, Instagram } from "lucide-astro";
---

<footer
    class="bg-gray-100 dark:bg-black py-8 border-t border-gray-200 dark:border-gray-800"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row justify-between items-center gap-4">
            <div class="text-sm text-gray-500 dark:text-gray-400">
                AIJE Servicios Integrales © 2026
            </div>

            <div class="flex space-x-6">
                <a
                    href="#"
                    class="text-gray-400 hover:text-primary transition-colors"
                >
                    <span class="sr-only">Facebook</span>
                    <Facebook class="h-6 w-6" />
                </a>
                <a
                    href="#"
                    class="text-gray-400 hover:text-primary transition-colors"
                >
                    <span class="sr-only">Instagram</span>
                    <Instagram class="h-6 w-6" />
                </a>
            </div>
        </div>

        <div class="mt-4 text-center text-sm text-gray-500 dark:text-gray-400">
            sitio desarrollado por <a href="https://www.weblogica.cl" class="text-white hover:underline">www.weblogica.cl</a>
        </div>
    </div>
</footer>
