---
import { ChevronRight } from "lucide-astro";
---

<section
    class="bg-white dark:bg-[#050505] py-4 sm:py-8 lg:py-12 transition-colors duration-300"
>
    <!-- Contained Wrapper with matching padding to Navbar -->
    <div class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8">
        <div
            class="relative h-[250px] w-full rounded-3xl overflow-hidden shadow-2xl shadow-red-900/10"
        >
            <!-- Background Image -->
            <div class="absolute inset-0 z-0">
                <picture>
                    <source
                        media="(max-width: 380px)"
                        srcset="/assets/img/heroPhone.webp"
                    />
                    <source
                        media="(max-width: 480px)"
                        srcset="/assets/img/hero480.webp"
                    />
                    <source
                        media="(max-width: 780px)"
                        srcset="/assets/img/heroMID.webp"
                    />
                    <img
                        src="/assets/img/hero.webp"
                        alt="Auto de alta gama"
                        class="h-full w-full object-cover object-center"
                    />
                </picture>
                <!-- Gradient Overlay -->
            </div>

            <!-- Content -->
            <div
                class="relative z-10 w-full h-full flex items-center px-8 sm:px-12"
            >
                <div class="max-w-2xl"></div>
            </div>
        </div>
    </div>
</section>
