---
import { ChevronRight } from "lucide-astro";
---

<section
    class="bg-white dark:bg-[#050505] py-4 sm:py-8 lg:py-12 transition-colors duration-300"
>
    <!-- Contained Wrapper with matching padding to Navbar -->
    <div class="max-w-7xl mx-auto px-8 sm:px-6 lg:px-8">
        <div
            class="relative h-[500px] w-full rounded-3xl overflow-hidden shadow-2xl shadow-red-900/10"
        >
            <!-- Background Image -->
            <div class="absolute inset-0 z-0">
                <img
                    src="/assets/img/hero.png"
                    alt="Auto de alta gama"
                    class="w-full h-full object-center"
                />
                <!-- Gradient Overlay -->
            </div>

            <!-- Content -->
            <div
                class="relative z-10 w-full h-full flex items-center px-8 sm:px-12"
            >
                <div class="max-w-2xl"></div>
            </div>
        </div>
    </div>
</section>
